<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School App</title>
</head>
<body>
    <h1>This is the School App</h1>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex incidunt cum ab temporibus quas qui ullam iste, saepe vitae recusandae porro odio laudantium repudiandae placeat delectus autem voluptatem. Ex, dolorem vel. Est laudantium quam minus exercitationem, sequi, similique porro inventore dolorum harum ex consequuntur illo animi culpa assumenda, nisi tempora quaerat impedit? Facilis expedita ad enim blanditiis rem perspiciatis dolor.
    </p>
</body>
</html>